################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/EcoFarmSolution/.vs/EcoFarmSolution
/EcoFarmSolution/.vs/ProjectEvaluation
/EcoFarmSolution/EcoFarm/obj/Release/net8.0-windows
/EcoFarmSolution/EcoFarm/bin/Release/net8.0-windows
